@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.responsive-container {
	width: 100%;
	margin: 4rem auto 7rem auto;
	padding:15px;
	border-radius: 4px;
}

.table-filters-input {
	width: 95%;
}

.responsive-container th {
	margin-right: 20rem;
	font-size: 1.2rem;
	text-align: center;
	background-color: white;
	border: solid 2px rgb(186, 177, 194);
}

.responsive-container table {
	width: 90%;
	margin: auto;
	table-layout: fixed;
	border-radius: 4px;
}

.responsive-container td {
	border: solid 2px rgb(186, 177, 194);
	word-break: break-all;
	font-size: 1.4rem;
	background-color: white;
	color: black;
	font-family: 'Roboto Condensed', sans-serif;
}

.responsive-container th {
	text-align: center;
	padding: 2px;
}

.responsive-container th img {
	width: 2rem;
	cursor: pointer;
}

.responsive-container td {
	text-align: center;
	padding: 5px;
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sort-warning {
	font-size: 2rem;
}

.msg-popup {
	position: absolute;
	border: 1px solid black;
	padding: 1rem;
	border-radius: 5px;
	left: 69.5%;
	top: 15%;
	visibility: hidden;
	opacity: 0;
	transition: 0.2s;
}

.sort-warning:hover .msg-popup {
	visibility: visible;
	opacity: 1;
}


.btns-table {
	margin: 2rem 0 0 7rem;
}

.table-icon {
	font-size: 2rem;
	color: rgb(102, 61, 168);
	cursor: pointer;
}

.remove-table-icon {
	color: rgb(170, 59, 59);
}

.filter-icon {
	color: black;
}

.btns-table button {
	margin-right: 2rem;
	font-size: 1.3rem;
	padding: 1rem 3rem;
	border-radius: 10rem 2rem;
	text-transform: uppercase;
	display: inline-block;
	text-decoration: none;
	position: relative;
	transition: all 0.4s;
	font-weight: 400;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border: none;
	cursor: pointer;
	background-color: rgba(143, 107, 202, 0.945);
	color: #fff;
}

.card__picture-table {
	width: 5rem;
	border-radius: 50px;
}


@media (max-width: 767px) {

	.responsive-container {
		width: 95%;
		margin: -2rem auto -4rem auto;
	}

	.responsive-container table {
		width: 100%;
		margin: auto;
	}

	.btns-table {
		margin: 2rem 0 10rem 0rem;
	}

	.responsive-container thead {
		display: none;
	}

	.responsive-container td {
		display: block;
		max-width: 100%;

	}

	.responsive-container td:first-child,
	.responsive-container td:last-child {
		padding-top: .5em;
	}

	.responsive-container td::before {
		content: attr(data-col-title);
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-weight: bold;
		padding: .2rem;
		width: 11rem;
	}
}